<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="form-group" style="justify-items: center;">
            <a href="/courseDetail/{{schedule._id}}">
                <button class="btn btn-primary mt-3 mb-3">
                    Quay lại
                </button>
            </a>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h1 style="text-align: center;">{{schedule.courseName}}: {{schedule.teacherName}}</h1>
        <form method="get" action="/courseDetail/{{schedule._id}}/manageStudents?info={{info-input.value}}" id="form">
            <div class="form-group mt-4" style="justify-items: center; text-align: center;">
                <input type="text" class="form-control" id="info-input" style="width: 50%; display: inline-block"
                    name="info" placeholder="Nhập tên/mã sinh viên">
                <button style="submit" class="btn btn-primary mt-3 mb-3">Tìm kiếm</button>
            </div>
        </form>
        <h2 class="mt-2 mb-4" style="text-align: center;">Danh sách sinh viên</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Họ và Tên</th>
                    <th scope="col">Mã sinh viên</th>
                    <th scope="col">Khoa</th>
                    <th scope="col">Điểm BTL</th>
                    <th scope="col">Điểm GK</th>
                    <th scope="col">Điểm CK</th>
                    <th scope="col">Tổng kết</th>
                    {{#if (checkTeacher user.role)}}
                    <th scope="col">Thay Đổi</th>
                    {{/if}}
                </tr>
            </thead>
            <tbody>
                {{#if students}}
                {{#each students}}
                <tr>
                    <td>{{sum @index 1}}</td>
                    <td id="name{{this._id}}" student-name="{{this.name}}">{{this.name}}</td>
                    <td id="sv{{this._id}}" student-id="{{this.userId}}">{{this.userId}}</td>
                    <td style="min-width: 200px;">{{this.faculty}}</td>
                    <td data-name="btl{{this._id}}" data-btl="{{this.btl}}">{{showEmptyData this.btl}}</td>
                    <td data-name="gk{{this._id}}" data-gk="{{this.gk}}">{{showEmptyData this.gk}}</td>
                    <td data-name="ck{{this._id}}" data-ck="{{this.ck}}">{{showEmptyData this.ck}}</td>
                    <td>{{showEmptyData (calcFinal this.btl this.gk this.ck)}}</td>
                    {{#if (checkTeacher ../user.role)}}
                    <td><a data-id="{{this._id}}" schedule-id="{{../schedule._id}}" href="#" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Chỉnh sửa điểm</a></td>
                    {{/if}}
                </tr>
                {{/each}}
                {{else}}
                <tr>
                    <td colspan="8" style="text-align: center;">Không có sinh viên.</td>
                </tr>
                {{/if}}
            </tbody>
        </table>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form-submit" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="btl" class="mb-2">Điểm BTL</label>
                        <input type="text" class="form-control" id="btl" name="btl">
                    </div>
                    <div class="form-group mt-3">
                        <label for="gk" class="mb-2">Điểm GK</label>
                        <input type="text" class="form-control" id="gk" name="gk">
                    </div>
                    <div class="form-group mt-3">
                        <label for="ck" class="mb-2">Điểm CK</label>
                        <input type="text" class="form-control" id="ck" name="ck">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Lưu</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let dlts = document.querySelectorAll('[data-id]');
    let addContent = document.querySelector('#staticBackdropLabel');
    let form = document.querySelector('#form-submit');
    dlts.forEach(dlt => {
        dlt.addEventListener('click', (event) => {
            event.preventDefault();
            const studentId = dlt.getAttribute('data-id');
            const scheduleId = dlt.getAttribute('schedule-id');
            let nameStudent = document.querySelector(`#name${studentId}`);
            let svStudent = document.querySelector(`#sv${studentId}`);
            addContent.innerHTML = `${nameStudent.getAttribute('student-name')} - ${svStudent.getAttribute('student-id')}`;
            form.action = `/courseDetail/${scheduleId}/${studentId}/fixScores?_method=PATCH`;
        })
    });
    let btl_add = document.querySelector('#btl');
    let gk_add = document.querySelector('#gk');
    let ck_add = document.querySelector('#ck');
    let scoreBtns = document.querySelectorAll('[data-id]');
    scoreBtns.forEach(scoreBtn => {
        scoreBtn.addEventListener('click', () => {
            const id = scoreBtn.getAttribute('data-id');
            let btl = document.querySelector(`[data-name="btl${id}"]`).getAttribute('data-btl');
            let gk = document.querySelector(`[data-name="gk${id}"]`).getAttribute('data-gk');
            let ck = document.querySelector(`[data-name="ck${id}"]`).getAttribute('data-ck');
            btl_add.setAttribute('value', btl);
            gk_add.setAttribute('value', gk);
            ck_add.setAttribute('value', ck);
        })
    })
</script>