<div class="row mt-4">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <a href="/addSchedule">
            <button class="btn btn-primary mt-3 mb-3">Quay Lại</button>
        </a>
        <h1 style="text-align: center;">{{schedule.courseName}} - {{schedule.courseId}}</h1>
    </div>
    <div class="col-lg-4"></div>
</div>

<div class="row mt-4">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 border-cus">
        <form method="post" action="/addSchedule/{{schedule._id}}?_method=PATCH">
            <div class="form-group mt-3">
                <label class="mb-2">Tên giảng viên</label>
                <input type="text" class="form-control" name="teacherName" required value="{{schedule.teacherName}}">
            </div>
            <div class="form-group mt-3">
                <label for="exampleInputEmail1" class="mb-2">Mã Giảng viên</label>
                <select class="form-select" aria-label="Default select example" name="teacherId" required>
                    <option value="{{schedule.teacherId}}">{{schedule.teacherId}}</option>
                </select>
            </div>
            <div class="form-group mt-3">
                <label class="mb-2">Học kỳ</label>
                <input type="text" class="form-control" name="semester" value="{{schedule.semester}}" required readonly>
            </div>
            <div class="form-group mt-3">
                <label class="mb-2">Thứ</label>
                <input type="text" class="form-control" name="day" value="{{schedule.day}}" required>
            </div>
            <div class="form-group mt-3">
                <label class="mb-2">Tiết</label>
                <input type="text" class="form-control" name="period" value="{{schedule.period}}" required>
            </div>
            <div class="form-group mt-3">
                <label class="mb-2">Phòng</label>
                <input type="text" class="form-control" name="room" value="{{schedule.room}}" required>
            </div>
            <div class="form-group mt-3">
                <label class="mb-2">Tình trạng</label>
                <select id="role-user" class="form-select" aria-label="Default select example" name="state" required>
                    <option value="Đang Học" {{#if (checkRoleFix schedule.state "Đang Học" )}}selected{{/if}}>Đang học
                    </option>
                    <option value="Kết Thúc" {{#if (checkRoleFix schedule.state "Kết Thúc" )}}selected{{/if}}>Kết thúc
                    </option>
                </select>
            </div>
            {{#if warning}}
            <p style="text-align: center; color: red;">{{warning}}</p>
            {{/if}}
            {{#if success}}
            <p style="text-align: center; color: green;">{{success}}</p>
            {{/if}}
            <div style="display: flex; justify-content: center;">
                <button id="btn" type="submit" class="btn btn-primary mt-3 mb-3" style="width: 100%; height: 50px">
                    Thay đổi
                </button>
            </div>
        </form>
    </div>
    <div class="col-lg-4"></div>
</div>

<div id="teachers" data="{{teachers}}"></div>

<script>
    let getTeachers = document.querySelector('#teachers');
    let teachers = JSON.parse(getTeachers.getAttribute('data'));
    let teacherName = document.querySelector('[name="teacherName"]');
    let teacherId = document.querySelector('[name="teacherId"]');
    teacherName.addEventListener('blur', () => {
        const value = teacherName.value.trim().toLowerCase();
        teacherId.innerHTML = "";
        teachers.forEach(teacher => {
            if (teacher.name.toLowerCase() == value) {
                const option = document.createElement('option');
                option.value = teacher.userId;
                option.textContent = teacher.userId;
                teacherId.appendChild(option);
            }
        })
    })
</script>