<div class="row mt-4">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <a href="/manageUser">
            <button class="btn btn-primary mt-3 mb-3">Quay Lại</button>
        </a>
        <h1 style="text-align: center;">Chỉnh sửa người dùng</h1>
    </div>
    <div class="col-lg-4"></div>
</div>

<div class="row mt-4">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 border-cus">
        <form method="post" action="/manageUser/{{fixUser._id}}?_method=PATCH">
            <div class="form-group mt-3">
                <label class="mb-2">Tên người dùng</label>
                <input type="text" class="form-control" name="name" required value="{{fixUser.name}}">
            </div>
            <div class="form-group mt-3">
                <label class="mb-2">Mã người dùng</label>
                <input type="text" class="form-control" name="userId" value="{{fixUser.userId}}" required readonly>
            </div>
            <div class="form-group mt-3">
                <label class="mb-2">Email người dùng</label>
                <input type="email" class="form-control" name="email" value="{{fixUser.email}}">
            </div>
            <div class="form-group mt-3" style="display: none;">
                <label class="mb-2">Loại người dùng</label>
                <select id="role-user" class="form-select" aria-label="Default select example" name="role" value
                    required readonly>
                    <option value="student" {{#if (checkRoleFix fixUser.role "student" )}}selected{{/if}}>Sinh viên
                    </option>
                    <option value="teacher" {{#if (checkRoleFix fixUser.role "teacher" )}}selected{{/if}}>Giảng viên
                    </option>
                    <option value="admin" {{#if (checkRoleFix fixUser.role "admin" )}}selected{{/if}}>Admin</option>
                </select>
            </div>
            <div class="form-group mt-3" id="facultyInput" style="display: none;">
                <label class="mb-2">Khoa</label>
                <select class="form-select" aria-label="Default select example" name="faculty" required>
                    <option value="Điện Điện-Tử" {{#if (checkRoleFix fixUser.faculty "Điện Điện-Tử" )}}selected{{/if}}>
                        Điện Điện-Tử
                    </option>
                    <option value="Khoa Học và Kỹ Thuật Máy Tính" {{#if (checkRoleFix
                        fixUser.faculty "Khoa Học và Kỹ Thuật Máy Tính" )}}selected{{/if}}>Khoa Học và Kỹ Thuật Máy
                        Tính
                    </option>
                    <option value="Khoa Học Ứng Dụng" {{#if (checkRoleFix fixUser.faculty "Khoa Học Ứng Dụng"
                        )}}selected{{/if}}>Khoa Học Ứng Dụng
                    </option>
                </select>
            </div>
            <div class="form-group mt-3">
                <label class="mb-2">Ngày sinh</label>
                <input type="date" class="form-control" name="dateOfBirth" value="{{fixUser.dateOfBirth}}" required>
            </div>
            <div class="form-group mt-3">
                <label class="mb-2">Địa chỉ</label>
                <input type="text" class="form-control" name="address" value="{{fixUser.address}}" required>
            </div>
            {{#if success}}
            <div class="mt-3">
                <p style="color: green; text-align: center; margin: 0">{{success}}</p>
            </div>
            {{/if}}
            <div style="display: flex; justify-content: center;">
                <button id="btn" type="submit" class="btn btn-primary mt-3 mb-3" style="width: 100%; height: 50px">
                    Thay đổi
                </button>
            </div>
        </form>
    </div>
    <div class="col-lg-4"></div>
</div>

<script>
    const role = document.querySelector('#role-user');
    const faculty = document.querySelector('#facultyInput');
    role.addEventListener('change', () => {
        const value = role.value;
        if (value === "student" || value === "teacher") {
            faculty.style.display = "block";
        } else {
            faculty.style.display = "none";
        }
    });
    document.addEventListener('DOMContentLoaded', function () {
        role.dispatchEvent(new Event('change'));
    });
</script>